.search {
  margin-left: 72px;
}

.search-index {
  margin-left: 220px;
}

#new_review {
  margin: 10px 10px;
}

#new_bookmark {
  margin: 10px 10px;
}

#offcanvasNavbarReview {
  background-color: rgba(226, 224, 224, 1);
  border-bottom-left-radius: 20px;
}

.offcanvasreview {
  height: 50%;
}

.offcanvasbookmark {
  height: 53%;
}
