.home-form-input {
  background-color: grey;
}

.offcanvas {
  max-width: 25%;
  max-height: 48%
}

.offcanvas-header {
  background-color: rgba(0, 0, 0, 0.742);
  color: white;
}

#offcanvasNavbar {
  background-color: rgba(226, 224, 224, 1);
  border-bottom-left-radius: 20px;
}

#new_list {
  margin: 10px 10px;
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.5s;

  &:hover {
    background-color: rgb(93, 92, 92);
    border-radius: 50%;
  }
}
